.side-nav .mm-active > a {
    color: #000 !important;
}

.item-link {
    color: #6e7989 !important;
    background-color: #eef2f7 !important;
}

.item-link:hover {
    color: #2d3437 !important;
    background-color: #d5d5db !important;
}

.circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.circle:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.post-content-edit {
    background-color: #eef2f7;
    height: fit-content;
    min-height: 150px;
    max-height: 500px;
    width: 100%;
    margin-top: 0.75rem;
    border: 0;
    font-weight: 400;
    padding: 1.5rem;
    outline: none;
    font-size:1.125rem
}

.edit-post-msc {
    color: #474d56;
    border: 1px solid #474d56;
    background-color: transparent;
    width: 100%;
    border-radius: 2rem;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    font-weight: 400;
    font-size:1.125rem
}
.like-button{
    border-left: 1px solid #d5d5db;
    color: #6e7989 !important;
}
.like-button:hover{
    color: #2d3437 !important;
    background-color: #d5d5db;
}
.comment-button{
    border-left: 1px solid #d5d5db;
    border-right: 1px solid #d5d5db;
    color: #6e7989 !important;
}
.comment-button:hover{
    color: #2d3437 !important;
    background-color: #d5d5db;
}
.post-content:not(.expended) {
    height: 1.7rem;
    width: calc(100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.post-content{
    text-align: left;
    color:#474d56;
    margin:.75rem 0;
    padding: 0 .75rem;
    font-size: 1.0125rem;
}
.breadcrumb-item + .breadcrumb-item::before, .menu-arrow:before {
    font-family: 'Font Awesome 6 Free'!important;
    content: '\F054'!important;
    font-weight: 900!important;
}
.pagination-md .page-link {
    padding: 0.5rem 1rem;
    font-size: 1.0625rem;
    line-height: 1.5;
}

.pagination-md .page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.pagination-md .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.card .card-widgets>a.collapsed i:before {
    font-family: 'Font Awesome 6 Free'!important;
    content: '\2b'!important;
    font-weight: 900!important;
    font-style: normal;
}
.mdi-minus::before{
    font-family: 'Font Awesome 6 Free'!important;
    content: '\f068'!important;
    font-weight: 900!important;
}
input.underline-only{
    width: 200px;
    margin: 0 10px;
    border-bottom: 1px black solid;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    outline: none;
}
.fa-solid.fa-download{
    color:#474d56;
}
i.fa-solid.fa-download:hover{
    height:35px;
    width:35px;
    border-radius: 2em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 0.4rem 0.5rem 0 0.5rem;

    background-color: #ffffff;
}
.fa-solid.fa-download{
    height:35px;
    width:35px;
    color:#474d56;
}
i.fa-solid.fa-download:hover{
    border-radius: 2em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 0.4rem 0.5rem 0 0.5rem;

    background-color: #ffffff;
}
.fa-solid.fa-trash-can{
    height:35px;
    width:35px;
    color: #fa6767 !important;
}
i.fa-solid.fa-trash-can:hover{
    border-radius: 2em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    color: #f81d1d !important;
    background-color: #ffffff;
}
